.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.content {
  position: relative;
  background-color: white;
  color: black;
  padding: 30px;
}

.cross {
  position: absolute;
  right: 5px;
  top: 5px;
}
